#sf2-logo {
    background: rgba(255,255,255, 0.7);
    margin-bottom: 5px;
}

h3 .noDot {

}

pre .phpdoc {
}

pre .comment .annotation {
    color:  #81a3d0; /*#ff4444;*/
    font-weight: bold;
}

li.code-sample {
    list-style-type: none;
}

li.code-sample.large {
    margin-left: -2.5em;
}

div.footnote {
    padding-top: 2em;
}

div.follow-up {
    padding-top: 1em;
}
